@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/*Dark/Light Mode */
html {
    --color-main-bg: #f5f5f5;
    --color-bg:#fff;
    --color-bg2: #f1f1f1;
    --color-line:#ececec;
    --color-text: #000;
    --color-text2:#1c8b78;
    --color-genre:#888;
    background: var(--color-main-bg);
  }
  html.active{
    --color-main-bg:#16151D;
    --color-bg:#222222;
    --color-bg2: #333;
    --color-line:#19181e  ;
    --color-text:#fff;
    --color-text2:#888;
    --color-genre:#888;
  
  }